body {
    background-color: #f3f2f1;
}

.logo {
    padding-top: 1.5rem;
}

.lead {
    font-size: 16px;
    padding-top: 0.5rem;
    font-style: italic;
}

.filter-wrapper{
    background-color: white;
    border-radius: .25rem;
}

.recommendation-container{
    padding-top:3rem;
}
.recommended-header {
    display: block;
}

.footer{
    padding-top: 3rem;
}
