<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="index/index.css">
    <link rel="shortcut icon" type="image/png" href="../../favicon.png" />
</head>
<body>

    <p>Dette er index siden.</p>

    <button class="headerButton" onclick="location.href='../results'" type="button">Results</button>

    <script src="index/index.js"></script>



    <div class="wrapper">
        
        <div class="box1"></div>

        <div class="box2">

            <div class="search_field">
                <input class="search_bar" type="text" name="search" placeholder="Search">
                <input type="button" name="search" value="search" class="search_button">

                <div class="wrapper2">
                    <div class="row">
                        <label>brand</label>
                        <br><label>Model*</label>
                        <br><label>price</label>
                        <br><label>Fuel</label>
                        
                    </div>
                    <div class="row">
                        <input type="text" name="brand"     value="" placeholder="Brand">
                        <br><input type="text" name="model" value="" placeholder="Model">
                        <br><input type="text" name="price" value="" placeholder="Price">
                        <br><input type="text" name="Fuel"  value="" placeholder="Fuel">
                    </div>
                    <div class="row">
                        <label>Total Km</label>
                        <br><label>KM/L</label>
                        <br><label>Last service</label>
                        <br><label>Tax</label>
                       
                    </div>

                    <div class="row">
                        <input type="text" name="Total km"          value="" placeholder="Total Km">
                        <br><input type="text" name="KM/L"          value="" placeholder="KM/L">
                        <br><input type="text" name="last service"  value="" placeholder="Last service">
                        <br><input type="text" name="Tax"           value="" placeholder="Tax">
                        
                    </div>
                    <div class="row">
                        <label>Zipcode</label>
                        <label>Area</label>
                        <label>?</label>

                    </div>
                    <div class="row">
                        <input type="text" name="zipcode" value="" placeholder="zipcode">
                        <input type="text" name="area" value="" placeholder="Area">
                        <button class="headerButton" onclick="location.href='../results'" type="button">Show cars</button>

                    </div>
                </div>
            </div>



            <div class="cars">

                <div class="car">
                    <img class="carpicture" src="../bil.jpg" alt="Thomas bil" width="300" height="300">
                    <div class="car_title"> <a href="url">Bil title</a>  </div>
                    <hr>
                    <div class="wrapper3">
                        <div class="list">
                            <ol>
                                <li>Brand <input type="text" name="Brand" value="brand"> </li>
                                <li>Model <input type="text" name="Model" value="model"></li>
                                <li>Price<input type="text" name="Price" value="price"></li>
                                <li>Fuel<input type="text" name="Fuel" value="fuel"></li>
                            </ol>
                        </div>
                        <div class="list">
                            <ol>
                                <li>Total KM <input type="text" name="Total KM" value="Total KM"> </li>
                                <li>KM/L <input type="text" name="KM/L" value="KM/L"></li>
                                <li>Last service<input type="text" name="Last Service" value="Last service"></li>
                                <li>Tax<input type="text" name="Tax" value="Tax"></li>
                            </ol>
                        </div>
                        <div class="list">
                            <ol>
                                <li>Zipcode <input type="text" name="mærke" value="mærke"> </li>
                                <li>Area<input type="text" name="mærke" value="KM/L"></li>
                                
                            </ol>
                        </div>

                    </div>



                </div>


            </div>


        </div>

        <div class="box3"></div>
    </div>

</body>
</html>