
/* Skeleton */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

    .wrapper > div {
        background: #eee;
    }

        .wrapper > div:nth-child(odd) {
            background: #eee;
        }

/* alt inde for search feltet */
.search_field {
}

.search_bar {
    width: 40%;
    height: 40px;
    left: 50%;
    margin-left: 30%;
    
    
    background-color: white;
    border-color: grey;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

    .search_bar text {
        color: black;
    }

.search_button {
    width: 80px;
    height: 40px;
    background-color: #818AEE;
    font-size: 20px;
}

/* Dette er for inder boxes */
.wrapper2 {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr;
    margin-top: 0px;
   padding:20px;
    height: 200px;
}


    .wrapper2 > div {
        background: white;
    }

    .wrapper2 label {
        padding: 12px 12px 12px 20px;
        display: inline-block;
    }

    .wrapper2 > div:nth-child(odd) {
        background: white;
    }



    .wrapper2 input {
        width: 200px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

.row button {
    width: 80px;
    height: 30px;
    float: right;
    margin-right: 40px;
    margin-top: 35px;
    bottom: 0;
}





/* box with the cars inside */
.cars {
    background: white;
    margin-top: 50px;
}

.car a {
    font-size: 50px;
    text-decoration: none;
    color: Black;
}

.car ol {
    text-align: left;
}

.car img {
    float: left;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}


    .wrapper3 > div {
        background: white;
        padding: 1em;
    }

        .wrapper3 > div:nth-child(odd) {
            background: white;
        }

        .wrapper3 > div ol {
            list-style: none;
            margin-left: -50px;
            margin-top: -10px;
        }

.list input {
    float: right;
}




.wrapper3 ol li {
    text-align: left;
}

.wrapper3 li {
}

.wrapper3 ol {
}
