.title {
    font-size: 22px !important;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
    font-weight: bold;
}

.carImg {
    height: 100%;
    background-size: cover;
}

.h150 {
    height: 120px;
    margin: 0px 0px;
}

.width72 {
    max-width: 72% !important;
}

.details {
    font-size: 13px;
}

.h150container {
    padding: 20px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

.active {
    background-color: blue;
}

.singleline {
    height: 33px;
    overflow: hidden;
}
